style.
  main.page{
    height: 500px;
    background: url(/pug/me.webp) 50% 0 / 500px no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  h1{
    position:absolute;
    left:50%;
    margin-left:130px;
    top:100px;
    text-align:right;
    white-space: pre;
    line-height:1.2;
  }
  h1 p{
    margin-bottom:.2rem;
  }
  main.page2{
    margin: auto;
    margin-top:500px;
    text-align: justify;
    max-width: 41em;
    padding: 0 2em 30vh;
  }
  h2{
    text-align:center;
  }
  code{
    margin:0 .5em;
  }
  .TC{text-align:center;}
  .TR{text-align:right;}

main.page
  h1
    b

script(src="//cdn.staticfile.org/typed.js/2.0.11/typed.min.js")
script.
  (()=>{
  var typed = new Typed('h1 b', {
    strings: ["生死看淡 · 不服就干\n─ 雷军"],
    typeSpeed:250,
    onStringTyped:()=>{
      typed.el.nextSibling.remove()
    }
  })
  })()

main.page2
  h2 这是一个演示页
  p 对应的文件是
    code pug/about.png
    | ，你可以编辑修改为自己的个人简介。
  p 下面，分享一篇小米创始人雷军的文章。
  hr
  h3.TC 前言

  p 最近，和UCWEB同事讨论，怎么才能把我们的UCWEB做到极致。我说，“手机上的平台非常多，如果想做好，需要足够多、足够优秀的程序员。优秀的程序员如何定义呢？首先必须热爱写程序，其次必须是一个完美主义者。只有这样的人，才能把事情做得极致。”

  p 说着说着，我怀念起我过去写程序的日子，从1987年到1996年，那是一段阳光灿烂的日子。几年前我无意中从网上找到了1996年在金山西点BBS上写几篇帖子，现在读来感慨万千。谢谢当年的网管Tony Low，他收藏了我的文章，使当年的文章能保留至今。

  p 重贴此文，纪念我已经远去的长达十年的程序员生涯！

  h3.TC 《我的程序人生路》

  p 「程序人生」这个词是什么意思，刚开始时我并不明白。这个词源于业余BBS站，站上PROGRAMMER栏目的中文名就是这个词，英文翻译过来就是"程序员"，但程序人生又比程序员多了很多含义，似乎多了一种沧桑感。但不管这么多，讲讲编程感受不算跑题。
  p 首先我先讲讲自己的路，这样也许大家才能相信我的坦诚和我的这篇编程感受的真实性。这些感受是我个人感受，不全面的地方，请大家指正。
  h4 我的程序人生路
  p 我并非天生喜欢电脑，上高中时也没有想过程序员的生活。我学电脑非常偶然，小时候的一个好朋友上大学时选择了电脑专业，为了和这个朋友有更多的共同语言，我也选择了计算机系，开始步入程序人生的道路。
  p 当我学了一点电脑知识后，就发现电脑将是我人生的最爱。读书时，我不是特别会搞关系的人，同学关系说不上差，也好不到那里去。我是八七年上的大学，我们大一下学期才有专业课。当我有资格上机的时候，发现电脑世界太美妙，就一头扎进去。当时用的是 Motorola 68000 (相当于 Intel 8088), 540K 的内存，运行的 UNIX 操作系统，八个人一起用。
  p 大二学 PC，又过了一学期，开始出现在老师的实验室，帮忙干活，当时写了现在还有人用的 RI （一个清内存的小工具）。又过了一个学期，开始和校外的公司接触。大二暑假，和一个朋友组建了 Yellow Rose 组，写了我第一个商品软件 BITLOK 0.99。后来开过公司也写过一些软件。
  p 大学毕业后，分到研究所，不太适应研究所的气氛。跳槽到金山软件公司，开始了职业程序员的生涯。后来成了北京金山软件公司的经理，但我还是一名程序员。
  h4 编程的感受 : 程序员活在自己想象的王国里
  p 我刚接触电脑就发现电脑的妙处，电脑远没有人那么复杂。如果你的程序写得好，你就可以和电脑处好关系，就可以指挥电脑干你想干的事。
  p 这个时候你是十足的主宰。每每你坐在电脑面前，你就是在你的王国里巡行。这样的日子简直就是天堂般的日子。
  p 电脑里的世界很大，编程人是活在自己想象的王国里。你可以想象到电脑里细微到每一个字节、每一个比特位的东西。
  h4 我爱编程这个工作，可以肯定我会干上一辈子
  p 不少人认为程序员最多干到三十五岁就可以收山换环境了，脑子也差不多该歇歇了，体力也不支了。并认为写程序是年轻人的事情，到了一定岁数，估计没什么人再当程序员了。
  p 当我刚有一点水平的时候，我也认为编程辛苦，也想三十岁后干别的。当我年长一点后就发现了自己的无知。一个人大学毕业就二十一二岁，有点水平的时候可能二十五，接着就是老婆加上孩子和房子等等诸多事情。
  p 一切搞掂的时候，也许就是三十五岁。如果这样的话，我们就不用选择程序人生的道路。
  p 电脑进入我国时间不短，但真正大规模开始用，还是八五年 PC 开始的，因此国内真正写电脑程序的人最长也就写了十几年（不知道是否还有这样的人）。由于电脑应用在国内时间比较短，国内开发的主力是三十五岁以下的年轻人为主。
  p 但这不表示程序员如同红粉佳人般的容易衰老。美国和中国台湾开发以三十四十多岁的人为主。开始的时候，我们觉得我们没有什么不能做的（现在还能听到这样的豪言壮语），而且更要命的是好象我们特别聪明，特别适合开发软件，比老外强得多。当我们真正接触那些杰出的开发人员的时候，发现他们太厉害了，都有十多年的开发经验。虽然也有很多年轻人做了很多好东西，但决大多数的产品出自这些有丰富开发经验的程序员的手。
  p 刚毕业的时候，编程不仅仅是爱好，而且也成了一辈子的工作。整天不知道写些什么东西，觉得特别没劲，找不到感觉，特别灰心。后来，才明白，只有全身心地投入，程序才会有意识。
  p 写程序简直是在自杀，巨费精力巨费脑子巨累。但我爱编程这个工作，可以肯定我会干上一辈子，虽然我没有打算一生只干这一件事。用一生来编程序是一件既容易又困难的事。如果碌碌无为，为交差写点程序，这样写两辈子的人都有。但如果想全身心地写程序，写十年就不是一件容易的事。
  p 现在我不少朋友都洗手了，有时我也想"用什么电脑，Windows 外的世界不是也很大吗?"。面对电脑的时候，立刻顿悟：电脑还是自己最擅长干的事，也是最顺手的事。

  h4 高级程序员不是追求的目标

  p 有的人学习编程技术，是把高级程序员做为追求的目标，甚至是终身的奋斗目标。后来参与了真正的商品化软件开发后，反而困惑了，茫然了。

  p 一个人只要有韧性和灵性，有机会接触并学习电脑的编程技术，就会成为一个不错的程序员。刚开始写程序，这时候学得多的人写的好，到了后来，大家都上了一个层次，谁写的好只取决于这个人是否细心、有韧性、有灵性。掌握多一点或少一点，很快就能补上。成为一个高级程序员并不是件困难的事。

  p 当我上学的时候，高级程序员也曾是我的目标，我希望我的技术能得到别人的承认。后来发现无论多么高级的程序员都没用，关键是你是否能够出想法出产品，你的劳动是否能被社会承认，能为社会创造财富。成为高级程序员绝对不是追求的目标。

  h4 编程不仅仅是技术，还是艺术

  p 有人认为编程是一种熟练工种，也有人把编程说成是艺术创作。这两种意见争论比较激烈。

  p 我们换个工种来看，石匠应该是熟练工种，属于工人，更艺术似乎沾不上边。但正是这些石匠，给我们留下多少文物古迹，如乐山大佛、莫高窟等等。应该说这些石匠给我们留下了无穷的文化财产。

  p 现代软件工业已具相当规模，很多软件的完成需要的是大兵团作战。

  p 一名普通程序员接受编写某一模块的任务后，往往只是写代码，发挥的余地很小。

  p 在大项目中，很多程序员只能了解到和自己所编模块相关的很局部的细节，另外还受到开发环境的限制，真的很难体会到自己在从事"艺术"创造，更多的时候是感到自己在从事重体力劳动。有的时候还担心自己苦苦参与的这个项目究竟有没有意义，是不是在同类产品中有竞争力，会不会开发出来以后就因为硬件的发展，操作系统的换代而过时...

  p 我认为编程的工作和石匠比较相似，有很多是技术活甚至是体力活，但编写优秀软件是件很难的事。这两种想法都有片面性，编程应该说两种属性都有。编程不仅仅是技术，也还是艺术。

  p 编程是技术活，才有可能大规模进行，才会有软件工程。也正是编程是艺术，才会有如此多的好产品。

  h4.TC 完

  .TR
    p 雷军
    p 1996年5月写于金山西点论坛


